<script src="https://d3js.org/d3.v5.min.js"></script>
<style>
    .d3-tip {
        display: flex;
        flex-direction: column;
        position: absolute;
        line-height: 0.8;
        padding: 2px;
        background-color: antiquewhite;
        color: #fff;
        border-radius: 2px;
        font-size: 0.8em;
    }

    .d3-tip:after {
        box-sizing: border-box;
        font-size: 0.8em;
        width: 100%;
        line-height: 1;
        color: antiquewhite;
        content: '\25BC';
        position: absolute;
        text-align: center;
        top: 40px;
        left: -1px;
    }

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }
</style>
<div id="timeNets" style=" width:100%;height:400px;border-style: dashed;text-align:center;">

    <div id="chart-container" style="padding:5 5 5 5; height:80%; width:80%;border-style: dashed;text-align:center;">
    </div>


    <script>
        var chartDiv = document.getElementById("chart-container");
        var width = chartDiv.clientWidth;
        var height = chartDiv.clientHeight;

        var padding = 20;


        var div = d3.select("#chart-container").append('div') //添加tip提示框
            .attr('class', 'd3-tip')
            .style('opacity', 0);


        var svg = d3.select("#chart-container")
            .append("svg")
            //.attr('width',width).attr('height',height);
            .attr("preserveAspectRatio", "xMidYMid meet")
            .attr("viewBox", `0 0 ${width} ${height}`);


        var xScale = d3.scaleTime()
            .domain([new Date("1800-01-01"), new Date("1930-01-01")])
            .range([padding, width - padding * 2]);
        var yScale = d3.scaleLinear()
            .domain([0, 100])
            .range([height - padding * 2, padding]);

        var xAxis = d3.axisBottom(xScale)
            .tickFormat(function (date) {
                if (d3.timeYear(date) < date) {
                    return d3.timeFormat('%b')(date);
                } else {
                    return d3.timeFormat('%Y')(date);
                }
            });

        svg.append('g')
            .attr('class', 'axis')
            .attr("transform", "translate(0," + (height - padding) + ")")
            .call(xAxis);


        var datasetM = [
            [{
                name: 'Willem van Os',
                time: '1811-11-14',
                event: 'birth',
                family: 1,
                place: 'Sprang-Capelle'
            }, {
                time: '1838-4-5',
                event: 'marriage',
                family: 1
            }, {
                time: '1864-3-28',
                value: 'death',
                family: 1
            }],
            [{
                name: 'Johannes Kuijpers',
                time: '1815-3-16',
                event: 'birth',
                family: 2,
                place: 'Helmond'
            }, {
                time: '1839-6-14',
                event: 'marriage',
                family: 2
            }, {
                time: '1870-12-17',
                value: 'death',
                family: 2
            }],
            [{
                name:'Johannis van Os',
                time: '1839-7-22',
                event: 'birth',
                family: 3,
                place: 'Sprang-Capelle',
                from: 1
            }, {
                time: '1862-5-7',
                event: 'marriage',
                family: 3
            }, {
                time: '1881-8-19',
                value: 'death',
                family: 3
            }],
            [{
                name:'Marinus van Os',
                time: '1845-7-24',
                event: 'birth',
                family: 4,
                place: 'Sprang-Capelle',
                from: 1
            },  {
                time: '1899-10-31',
                value: 'death',
                family: 4
            },{
                time: '1899-10-31',
                value: 'death',
                family: 4
            }],
            []
        ];

        var datasetF = [
            [{
                name: 'Adriana de Bie',
                time: '1817-11-26',
                event: 'birth',
                family: 1,
                place: 'Sprang-Capelle'
            }, {
                time: '1838-4-5',
                event: 'marriage',
                family: 1
            }, {
                time: '1862-11-13',
                value: 'death',
                family: 1
            }],
            [{
                name: 'Joanna Maria Keunen',
                time: '1817-3-19',
                event: 'birth',
                family: 2,
                place: 'Helmond'
            }, {
                time: '1839-6-14',
                event: 'marriage',
                family: 2
            }, {
                time: '1879-1-1',
                value: 'death',
                family: 2
            }],
            [{
                time: '1841-2-27',
                event: 'birth',
                family: 3,
                from: 2,
                place: 'Helmond'
            }, {
                time: '1862-5-7',
                event: 'marriage',
                family: 3
            }, {
                time: '1902-2-19',
                value: 'death',
                family: 3
            }],
            [],
            [{name:'Catharina van Os',
                time: '1850-12-22',
                event: 'birth',
                family: 5,
                place: 'Sprang-Capelle',
                from: 1
            },  {
                time: '1879-2-6',
                value: 'death',
                family: 5},{
                time: '1879-2-6',
                value: 'death',
                family: 5
            }],
        ];
        var startPoint;

        var lineMale = d3.line()
            .curve(d3.curveStepAfter)
            .x(function (d) {
                return xScale(new Date(d.time));
            })
            .y(function (d) {
                if (d.event == 'birth') {
                    startPoint = 100 / (datasetM.length + 1) * (datasetM.length + 1 - d.family) + 4;
                    if (d.from) {
                        svg.append('line')
                            .attr('x1', xScale(new Date(d.time)))
                            .attr('y1', yScale(startPoint))
                            .attr('x2', xScale(new Date(d.time)))
                            .attr('y2', yScale(100 / (datasetM.length + 1) * (datasetM.length + 1 - d.from)))
                            .attr('stroke', '#aed6f1')
                            .attr('stroke-width', '1px');
                    }
                } else if (d.event == 'marriage') {
                    startPoint -= 3;
                }
                return yScale(startPoint);
            });


        var lineFemale = d3.line()
            .curve(d3.curveStepAfter)
            .x(function (d) {
                return xScale(new Date(d.time));
            })
            .y(function (d) {
                if (d.event == 'birth') {
                    startPoint = 100 / (datasetM.length + 1) * (datasetM.length + 1 - d.family) - 4;
                    if (d.from) {
                        svg.append('line')
                            .attr('x1', xScale(new Date(d.time)))
                            .attr('y1', yScale(startPoint))
                            .attr('x2', xScale(new Date(d.time)))
                            .attr('y2', yScale(100 / (datasetM.length + 1) * (datasetM.length + 1 - d.from)))
                            .attr('stroke', '#fadbd8')
                            .attr('stroke-width', '1px');
                    }
                } else if (d.event == 'marriage') {
                    startPoint += 3;
                }
                return yScale(startPoint);
            });

        svg.selectAll("lifeLine")
            .data(datasetM)
            .enter()
            .append("path")
            .attr("d", lineMale)
            .attr("stroke", "#2874a6")
            .attr("stroke-width", 2)
            .attr("fill", "none")
            .on('mouseover', function (d) {
                div.transition()
                    .duration(200)
                    .style('opacity', .9);
                div.html(`<span id='tip' style='color: #2874a6'>${d[0].name}<br>
                    birth: ${d[0].time}<br>
                    death: ${d[2].time}<br>
                    region: ${d[0].place}</span>`)
                    .style('left', (d3.event.pageX - 60) + 'px')
                    .style('top', (d3.event.pageY - 50) + 'px')
            });


        svg.selectAll("lifeLine")
            .data(datasetF)
            .enter()
            .append("path")
            .attr("d", lineFemale)
            .attr("stroke", "#ec7063")
            .attr("stroke-width", 2)
            .attr("fill", "none")
            .on('mouseover', function (d) {
                div.transition()
                    .duration(200)
                    .style('opacity', .9);
                div.html(`<span id='tip' style='color: #ec7063'>${d[0].name}<br>
                        birth: ${d[0].time}<br>
                        death: ${d[2].time}<br>
                        region: ${d[0].place}</span>`)
                    .style('left', (d3.event.pageX - 60) + 'px')
                    .style('top', (d3.event.pageY - 50) + 'px')
            });
    </script>

</div>