<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>JBI100</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <script src="public/js/jquery-3.4.1.min.js"></script>
    <script src="public/js/echarts.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">JBI100 Group 2</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown" id="navbarDropdown">
                    <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                        Week2
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="wk2ex4b">Ex-4-b</a>
                        <a class="dropdown-item" href="wk2ex4c">Ex-4-c</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div>todo list</div>
            <ul>
                <li>
                    people having lived
                </li>
                <li>
                    template engine or naive?
                </li>
            </ul>
        </div>
    </div>
</body>

</html>